h1{
    color: rgb(216, 252, 11);
    background-color: rgb(11, 214, 250);
    font-family: verdana, sans-serif;
}

p{
    color: blue;
}

h2{
	color: purple;
}

h3{
	color: purple;
}

h4{
	color: purple;
}

ol{
    color: tomato;

}

ul{
    color: tomato
}